.Admin{
    max-width: 1100px;
    width:100%;
    position:relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding:0 2%;
    header{
        margin-top:24px;
        display: flex;
        justify-content:space-between;
        width:100%;
    }

    main{
        margin-top: 24px;
        .wrapper{
            width:100%;
            display: flex;
            align-items:center;
            justify-content:space-between;

            .adminControls{
                button{
                    height: 56px;
                    padding: 8px 12px;
                    cursor: pointer;

                    &+button{
                        margin-left: 16px;
                    }
                }
                div[role="form"]{
                    visibility:hidden;
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    left: 16px;
                    bottom: 16px;
                    background-color: #fafafa;
                    z-index: 10;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;
                    padding: 16px;
                    form{
                        display: flex;
                        flex-direction: column;
                        align-items:center;
                        max-width:500px;
                        width:100%;
                        justify-content: center;
                        label, select,input{
                            width:100%;
                            margin-top:8px;
                        }
                        .buttons{
                            margin-top:16px;
                            display: flex;
                            gap: 16px;
                            width: 100%;
                            button{
                                width:100%;
                            }
                        }
                    }
                }
                div[role="form"].visible{
                    visibility:visible;
                }
            }

        }
        
        h2{
            font-size: 36px;
        }
        sub{
            font-size:16px;
        }
        .modules{
            margin-top: 24px;
            display:flex;
            flex-wrap: wrap;
            gap:20px;
        }
        .content{
            margin-top:16px;
        }
    }
}
